@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-container: 100px;
    --color-title: #001A49;
    --color-subtitle: #ff7143;

    /* Calculator */    
    --color-botones: #0e0e0e ;
    --color-fondo: #404040 ;
    --color-acumluador:  #dedede;
    --color-resultado:  #ffffff;

    --color-portfolio: rgb(231, 230, 230);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.sombreado{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

img{
    width: 100%;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.header{
    width: 100%;
    height: 80px;
    background-color: #000000;
    border: none;
}

.hero2,
.hero3{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero2::before{
    background-image: linear-gradient(180deg, #0000008c, 0%, #0000008c 100%), url('../img//banner-portfolio.jpg');
}

.hero2::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 1;
}

.hero__container{
    z-index: 10000;
}

.hero__background{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    flex-wrap: nowrap;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;

    background-color: #0e0e0e;
    opacity: 0.9;
    background-image:  radial-gradient(#ffffff 0.7000000000000001px, transparent 0.7000000000000001px), radial-gradient(#ffffff 0.7000000000000001px, #0e0e0e 0.7000000000000001px);
    background-size: 28px 28px;
    background-position: 0 0,14px 14px;
}

.background_img,
.bg__img{
    width: 100%;
    height: 100%;
}


/* Nav */

.header .nav{
    --padding-container: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .nav__links,
.header .nav__title{
    color: var(--color-acumluador);
}


.nav__container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo__img{
    width: 65px;
    margin: 0 10px;
}

.nav__title{
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    font-size: 17px;
    font-weight: 300;
}

.nav__items{
    list-style: none;
}

.nav__links{
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show, none);
}

/* Hero container */

.hero__container{
    width: 100%;
    --padding-container: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: var(--color-acumluador);
}

.hero__title{
    font-size: 3rem;
}

.hero__paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
}

.cta{
    display: inline-block;
    justify-self: center;
    background-color: #2091F9;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 18px 35px;
    border-radius: 32px; 
    font-size: 17px;   
}

/* About */

.about{
    --padding-container: 0;
    text-align: center;
    padding: 50px 0 50px 0;
}

.subtitle{
    color:  var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph{
    line-height: 1.7;
}

.about__main{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    /* grid-template-columns:  repeat(auto-fit, minmax(260px, auto)); */
}

.about__main a{
    text-decoration: none;
}

.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 350px;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 50px;
    border-radius: 10px;

    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#444cf7 0.7000000000000001px, transparent 0.7000000000000001px), radial-gradient(#444cf7 0.7000000000000001px, #e5e5f7 0.7000000000000001px);
    background-size: 28px 28px;
    background-position: 0 0,14px 14px;
}

.about__icon{
    width: 40px;
}

.about__title{
    text-transform: capitalize;
}

/* Knowledge */

.knowledge{
    background-image: url(../img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media screen and (min-width: 360px){
    .knowledge{
        padding-right: 30px;
    }
}


@media screen and (min-Width: 768px){
    .knowledge{
        padding-right: 130px;
    }
}

.knowledge__texts{
    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    float: right;
    flex-wrap: nowrap;
}

.knowledge__texts .subtitle{
    font-size: 55px;
}

.knowledge__contact{
    display: grid;
    text-align: right;
    margin: 40px 0;
}

.knowledge__paragraph{
    margin: 5px 0;
    font-size: 18px;
}

.cta2{
    width: 250px;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 13px 25px;
    border-radius: 32px; 
    font-size: 14px;
    background-color: var(--color-subtitle);
    box-shadow:slategrey;  
}

@media screen and (min-Width:768px){
    .cta2{
        /* padding: 15px 30px; */
    }
}

@media screen and (min-Width: 900px){
    .cta2{
        /* padding: 18px 35px; */
    }
}

/* card */

.card{
    text-align: center;
    --padding-container: 0 0 50px 0;
    margin-top: 50px;
}

.about__paragraph--portfolio{
    font-size: 18px;
    font-weight: 400;
}

.card__table{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.card__element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-card: #1d293F;
    --bg-cta: #fff;
    --color-cta: #5454d4;
    --color-items: #696871;
}

.card__element--best{
    width: 370px;
    padding: 60px 40px;
    background-color: #ff7143;
    --color-plan: rgb(255 255 255 / 75%);
    --color-card: #ffffff;
    --bg-cta: #9f3919;
    --color-cta: #fff;
    --color-items: #fff;
}

.card__element--portfolio{
    background-color: var(--color-portfolio);
}

.card__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.card__card{
    font-size: 2.5rem;
    color: var(--color-card);
}

.client__icon{
    width: 80px;
}

.card__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.card__cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .1);
}

/* Testimony */

.testimony{
    background-color: #e5e5f7;
    margin-bottom: 100px;
}

@media (min-width: 360px){
    .testimony{
        margin: 0;
        padding-bottom: 50px;
    }
}

.testimony__container{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__arrow{
    width: 40%;
    cursor: pointer;
}

.testimony__course{
    color: royalblue;
    display: inline-block;
    padding: 5px;
}

.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

/* Questions */

.questions{
    text-align: center;
    --padding-container: 50px 0 70px 0;
    line-height: 1.5;
}

.questions__container{
    display: grid;
    gap: 2em;
    margin-top: 30px;
    padding: 0;

}

#clients__page .questions{
    margin-top: 70px;
}

.profile-photo{
    width: 400px;
    border-radius: 50%;
    margin: 20px 0;
}

.questions__paragraph{
    font-size: 18px;
}

.questions__padding{
    padding: 0;
    transition: padding .5s;
    border: .1px solid #5496d4b9;
    border-radius: 6px;
}

.questions__padding--add{
    padding-bottom: 35px;
}

.questions__answers{
    padding: 0 30px 0px;
    overflow: hidden;
}

.questions__title{
    display: flex;
    font-size: 20px;
    padding: 30px 0;
    margin-bottom: 10px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50px;
    background-color: #155f9c;
    width: 25px;
    height: 25px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .5s;
}

.questions__arrow--rotate{
    transform: rotate(180deg)
}

.job__title{
    font-weight: 600;
}

.portfolio__link{
    color: var(--color-subtitle);
}

.questions__show{
    text-align: left;
    height: 0;
    transition: height .5s;
}

.questions__show--tablets{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.lenguage__tablet{
    background-color: #53616d;
    padding: 5px 10px;
    color: var(--color-acumluador);
    border-radius: 5px;
    
}

.questions__img{
    display: block;
}

/* Footer */

.footer{
    background-color: #1d293f;
    --padding-container: 50px 0;
}

.logotipo{
    width: 180px;
}

.footer__title,
.footer__newsletter{
    color: #fff;
}

.footer__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #fff;
}

@media screen and (max-width: 900px){
    .footer__container{
        --padding-container: 50px 10px;
    }
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer ul li a{
    color: var(--color-acumluador);
}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #2091f9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright{
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
}

.footer__icons{
    display: inline-flex;
}

.footer__img{
    width: 30px;
}

@media screen and (max-Width: 800px){
    .container{
        --padding-container: 50px 20px;
    }
    .nav__menu{
        display: block;
    }
    
    .nav__link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }
    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }
    
    .hero__title{
        font-size: 2.5rem;
    }
    .about__main{
        gap: 2em;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
    }

    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
        padding: 50px 0 0 0;
    }

    .testimony__arrow{
        width: 100%;
        cursor: pointer;
    }

    .testimony__picture{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-content: center;
    } 

    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-content: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;

    }

    .footer__form{
        width: 100%;
        justify-content: space-between;
    }

    .footer__input{
        flex: 1;
    }

}


/* Calculator */

#body-calculator{
    background: radial-gradient(#afafaf 15%, transparent 16%), repeating-linear-gradient(0deg, transparent 6.5%, #ffffff 7%, #ffffff 9%, transparent 10%), linear-gradient(45deg, transparent 49%, #979797 49%, #979797 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #979797 49%, #979797 51%, transparent 51%);
    background-size: 3em 3em;
    background-color: #ffffff;
    opacity: 1;
    z-index: -1;
}

.hero-calculator{
    background-color: #212121;
    padding-top: 5px;
}

.hero-calculator .nav__title{
    color: var(--color-acumluador);
}

.no-border{
    border: none;
}

.contenedor{
    width: 100%;
    height: 700px;
}

.calculador{
    width: 360px;
    height: 625px;
    background-color: var(--color-fondo);
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.operaciones,
.botones{
    width: 100%;
}

.operaciones{
    width: 100%;
    height: 135px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--color-fondo);
}

.muestra{
    background-color: var(--color-fondo);
}

.acumulador{
    font-size: 24px;
    color: var(--color-acumluador);
    padding: 0 10px 0 10px;
}

.resultado{
    font-size: 20px;
    color: var(--color-resultado);
    text-align: right;
    padding: 0 10px 0 10px;
}

.botones{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    flex-wrap: nowrap;
}

.botones-grid{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1px;
    justify-content: center;
    align-items: center;
}

.boton{
    width: 117px;
    height: 60px;
    background-color: var(--color-botones);
    color: var(--color-resultado);
}

.divider__section{
    width: 40%;
    height: 2px;
    background-color: #000;
    margin: 0 auto;
}


/* Up Button */

.up__button{
    width: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    z-index: 1000;
    padding: 10px;
    background-color: var(--color-subtitle);
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.up__button--icon{
    width: 100%;
    height: 100%;
}


/* clients modal */

dialog::backdrop {
    background: rgba(0, 0, 0, 0.171);
    backdrop-filter: blur(2px);
}

dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 98vw;
    max-height: 92vh;
    background-color: var(--color-resultado);
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 50px 150px;
    z-index: 10000000;
    border: none;
}

.client__section{
    margin: 20px 0;
}

dialog form{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: none;
}

dialog button{
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    border-radius: 20px;
    padding: 10px 25px;
    background-color: var(--color-subtitle);
    border: none;
    margin-top: 30px;
}

.open__modal{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: var(--color-subtitle);
}

.cliente__img{
    width: 250px;
}

.maranatha__img{
    filter:invert(1);
}

/* Clientes Page */

.client__page--main .card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client__page--main .card:first-child{
    padding-top: 110px;
}

.client__page--main{
    margin-top: 0;
    background-color: #eeeef5;
    opacity: 0.8;
    background-image: radial-gradient(#c2c3e4 0.1px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}


.card__table--clients{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card__element--client{
    width: 450px;
    height: 350px;
    padding: 40px;
    background-color: var(--bg-cta);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clients__logos{
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.client__logo{
    width: 350px;
}

.card__items-client{
    margin: 0;
}

.misiones-logo{
    width: 200px;
    filter: invert(1);
    margin-top: 0;
}

.misiones__logo{    
    margin-bottom: 0;
}

.misiones-logo--small{
    width: 120px;
    filter: invert(1);
}
.shield__icon{
    width: 100px;
}

/* Memory Game */

.container__game{
    --padding-container: 30px 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.general__container{
    width: 100%;
    height: 100%;
    margin: 0;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    --padding-container: 30px 5px;
    /* Chrome, Safari, Edge */
    background-color: #999999;
    /* Firefox */
    background-image: -moz-linear-gradient(top, #ffffff, #999999);
    /* Internet Explorer 10+, Edge */
    background-image: -ms-linear-gradient(top, #ffffff, #999999);
    /* Opera */
    background-image: -o-linear-gradient(top, #ffffff, #999999);
    /* Standard syntax; must be last */
    background-image: linear-gradient(to bottom, #ffffff, #999999);
}

.score__screen--msg{
    text-align: center;
}

.score__screen{
    --padding-container: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.board{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    --padding-container: 20px 0 0 0;
    gap: 3px;
}

.reset__game{
    padding-top: 0;
}

.reset__button{
    cursor: pointer;
    transition: all .1s ease-in-out; 
    border: none;
}

.reset__button:hover{
    background-color: var(--color-subtitle);
    transition: all .1s ease-in-out; 
}

.card{
    width: 90px;
    height: 120px;
    border: none;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.card div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: .3s ease-in-out;
}

.front{
    border: none;
    background-color: #212121;
    background-image: url(/img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: perspective(500px) rotateY(0deg);
}

.back{
    border: none;
    background-color: #212121;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: perspective(300px) rotateY(180deg);
}

.flip__front{
    transform: perspective(300px) rotateY(180deg);
}

.flip__back{
    transform: perspective(500px) rotateY(360deg);
}

@media (min-width: 480px) {
    .card{
        width: 100px;
        height: 120px;
    }
}

@media (min-width: 768px) {
    .score__screen{
        flex-direction: row;
        padding-bottom: 10px;
    }
    .card{
        width: 120px;
        height: 140px;
    }
}

@media (min-width: 1260px) {
    .container__game{        
    --padding-container: 50px;
    }
    .score__screen--msg,
    .score__screen{
        font-size: 20px;
    }
    .board{
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    .card{
        width: 160px;
        height: 200px;
    }
    .reset__game{
        padding-top: 50px;
    }
}