/*
===============
Variables
===============
*/
:root {
    /* Font Family */
    --bg-pry: #f0f0f0;
    --ff-primary: 'Maven Pro', sans-serif;
    --ff-secondary: 'Montserrat', sans-serif;

    /* font color */
    --title-main-color: #0a072e;
    --title-gray: #353535;
    --trabajos-color: #324bb88f;
    --color-subtitle: #212121;
    --par-color: #575757;
    --parr-btn-color: #dddddd;
    --color-link: #212121;
    --rosa-letter: #ED8C8C;
    /* #FF66C4 */
    --art-link: #ee5353;

    /* social icons */
    --gh-color: #83319c;
    --li-color: #324bb8;
    --bg-dwld-color: #324bb89d;
    --bg-chevron-color: #5973e9e5;

    /* bg colors */
    --bg-img-color: #324bb83b;
    --bg-chk-icon: #2c8528;
    --bg-reset-color: #2b3c8b;
    --bg-header-color: #a2b3fff1;
    --br-btn-color: #0a072e;
    --br-card-color: #212121;
    --bg-body: #f3f3f39f;
    /* #daa7bc73 */
    --bg-article: #ffffff;

    --bg-footer: #ee53539d;

    /* border color */
    --border-color: #cacaca;
}

/* Body */


*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    position: relative;
    font-family: var(--ff-primary, --ff-secondary);
    background-color: var(--bg-body);
    color: var(--title-gray);
    line-height: 1.5;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin: 0;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.35rem;
    font-weight: 300;
}

h4 {
    font-size: 0.875rem;
}

p {
    font-size: 1.1rem;
    font-weight: 400;
}

.paragraph {
    color: var(--par-color);
}

img {
    width: 100%;
    object-fit: fill;
    object-position: center;
}

/* General classes */

.container {
    width: 360px;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    z-index: 100;
    position: relative;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.sombreado {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}


/* Header */

.header {
    width: 100%;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    z-index: 1000000;
}

.logo-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 250px;
}

.subtitle {
    text-transform: none;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    color: var(--rosa-letter);
}

/* Main Section */

.main-section {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.product-title{
    font-weight: 500;
    text-align: center;
}

.product-description{
    width: 100%;
    padding: 0 20px 20px;
}

.article-link {
    text-decoration: none;
    color: var();
}

.article {
    padding: 20px;
    background-color: var(--bg-article);
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.article:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgb(238, 121, 121);
    -moz-box-shadow: 0px 0px 10px 0px rgb(238, 121, 121);
    box-shadow: 0px 0px 10px 0px rgb(238, 121, 121);
    transition: all .2s ease-in-out;
}

.product-img {
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
}

.img-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
}

.main-img {
    width: 100%;
    height: 100%;
}

.img-gallery {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.mini-img {
    width: 50px;
    border-radius: 3px;
    cursor: pointer;
}

.art-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

#product-page .art-info-container .art-info {
    text-transform: capitalize;
}

.art-title {
    font-weight: 500;
    color: #212121;
}

.art-subtitle {
    font-size: 26px;
}

.art-info {
    color: #212121;
}

.product-link {
    margin-left: auto;
    font-size: 14px;
    color: var(--art-link);
}

/* Footer */

.slogan {
    width: 100%;
    height: 60px;
    background-color: #ee53539d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-transform: none;

}

.footer {
    width: 100%;
    background-color: var(--bg-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.footer .form-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.form input,
.form textarea {
    border-radius: 5px;
    border: #FF66C4;
    outline: 0;
    padding: 10px 10px;
}

.form input {
    width: 80%;
    height: 30px;
}

.form textarea {
    width: 80%;
}

.footer-title {
    font-size: 36px;
    color: #ffffff;
}

.send-button {
    width: 180px;
    height: 40px;
    background-color: #f74747c2;
    color: #ffffff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.send-button:hover {
    background-color: #f74747ef;
}

.send-button-ok{
    background-color: #e7425e;
    color: #ffffff;
}

@media (min-width: 480px) {
    .container {
        width: 460px;
    }

    .logo {
        width: 400px;
    }

    .article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }

    .footer .form-container {
        width: 480px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 768px;
        padding: 20px;
    }

    #product-page .main-section {
        grid-template-columns: 1fr;
    }

    .main-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .cola-novia {
        grid-column: 1 / 3;
    }

    .article {
        padding: 15px;
        justify-content: center;
        align-items: center;
    }

    #product-page .article {
        gap: 30px;
    }

    .cola-novia .product-img {
        max-width: 350px;
    }

    .product-link {
        margin-right: 20px;
    }

    .cola-novia .art-info-container {
        padding: 0 20px;
    }

    .footer .container {
        width: 500px;
    }
}

@media (min-width: 972px) {
    .container {
        width: 972px;
    }
    .cola-novia .product-img {
        max-width: 400px;
    }
}